<div class="col-md-9">

	<h2 style="padding-bottom: 20px">{{ title }}</h2>

	<div class="alert alert-success" *ngIf="status == 'success'">
		¡El registro fue exitoso!, Puedes iniciar sesión <a [routerLink]="[('login')]">aqui</a>
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		{{ message }}
	</div>

	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-md-7" >
		<p>
			<label for="name">Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
			<span *ngIf="!name.valid && name.touched">
				El nombre es obligatorio.
			</span>
		</p>
		<p>
			<label for="surname">Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
			<span *ngIf="!surname.valid && surname.touched">
				El apellido es obligatorio.
			</span>
		</p>
		<p>
			<label for="email">Email</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
			<span *ngIf="!email.valid && email.touched">
				El email es obligatorio.
			</span>
		</p>
		<p>
			<label for="password">Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
			<span *ngIf="!password.valid && password.touched">
				La contraseña es obligatoria.
			</span>
		</p>
		<input type="submit" value="Registrarme" class="btn btn-success" />
	</form>
</div>