<div class="col-md-9">
	<h2 style="padding-bottom: 20px">{{ title }}</h2>

	<div class="alert alert-success" *ngIf="status == 'success'">
		¡Iniciaste sesion!
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		{{ message }}
	</div>

	<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-md-7">

		
		<p>
			<label for="email">Email</label>
			<input type="email" name="email" #email="ngModel" class="form-control" [(ngModel)]="user.email" required />
			<span *ngIf="!email.valid && email.touched" class="alert alert-danger">
				El email es incorrecto.
			</span>
		</p>

		<p>
			<label for="password">Contraseña</label>
			<input type="password" name="password" #password="ngModel" class="form-control" [(ngModel)]="user.password" required />
			<span *ngIf="!password.valid && password.touched" class="alert alert-danger">
				La contraseña es incorrecta.
			</span>
		</p>

		<input type="submit" value="Entrar" class="btn btn-primary" [disabled]="!loginForm.form.valid" />

	</form>
</div>